<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!--####################查询配置####################-->
    <table_name>
        EXCHANGE_DEPT
    </table_name>

    <columns_name>
        GLBM,BMMC,SJBM,BMJB,FZR,SJHM,ZT
    </columns_name>

    <!--主键，或者是要座位查询条件的条件colums-->
    <primary_key>
        GLBM
    </primary_key>

    <!--excel文件的标题-->
    <excel_title>
        综合查询表
    </excel_title>

    <excel_gen_path>
        D:\git\PoliceDBVehImg\src\main\resources\usedveh\tmp
    </excel_gen_path>
</config>