<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!--####################查询配置####################-->
    <table_name>
        EXCHANGE_DEPT
    </table_name>

    <columns_name>
        GLBM,BMMC,SJBM,BMJB,FZR,SJHM,ZT
    </columns_name>

    <!--主键，或者是要座位查询条件的条件colums-->
    <primary_key>
        GLBM
    </primary_key>

    <!--excel文件的标题-->
    <excel_title>
        综合查询表
    </excel_title>

    <excel_gen_path>
        C:\Users\itsxu\Desktop\
    </excel_gen_path>

    <wsdl_request_body>
        <![CDATA[
        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tem="http://tempuri.org/">
            <soapenv:Header/>
            <soapenv:Body>
                <tem:GetExaminePhoto1>
                    <!--号牌种类-->
                    <tem:plateType>{HPZL}</tem:plateType>
                    <!--号牌号码-->
                    <tem:plateNo>{HPHM}</tem:plateNo>
                </tem:GetExaminePhoto1>
            </soapenv:Body>
        </soapenv:Envelope>
        ]]>
    </wsdl_request_body>

    <wsdl_requeset_url>
        http://10.35.139.118:8084/CTService2.asmx?wsdl
    </wsdl_requeset_url>
</config>